/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/global
 * -----------------------------------------------------------------------------
 */

%btn,
.btn {
    background-color: transparent;
    border-radius: 0;
    border: none;
    display: block;
    line-height: 1;
    outline: none !important;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: $color--white;
    @include transition(background-color .1s ease-out);
}

%btn-ib,
.btn-ib {
    border-radius: 2px;
    display: inline-block;
    line-height: 1;
    outline: none !important;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: $color--white;
}

%btn-shadow,
.btn-shadow {
    box-shadow: none;
    @include transition(box-shadow .1s ease-in);
    &:hover {
        box-shadow: $box-shadow;
    }
}

%btn-bg,
.btn-bg {
    @include background-default();
}
 