/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
ws.code-workspace

# Ignore Mac DS_Store files
.DS_Store

# Ignore Sass cache folders
.sass-cache

# Ignore node_modules
node_modules/

# Ignore .env
.env