/**
 * -----------------------------------------------------------------------------
 * File: layout/navigation/site
 * -----------------------------------------------------------------------------
 */

nav.site-nav {

    * {
        opacity: 0;
        -webkit-transition: opacity .1s .3s ease-out;
        transition: opacity .1s .3s ease-out;
    }

    > div {
        @extend %page-block;
        @extend %v-center;
        @include responsive-prop('height', $header-heights);
    }

    background-color: $color--dark;
    height: 100%;
    right: 0;
    position: fixed;
    top: 0;
    width: 360px;
    z-index: 101;
    transform: translateX(100%);
    transition: transform .2s  ease-out;
    &.is-visible {
        box-shadow: $box-shadow-lg;
        transform: translateX(0);

        * {
            opacity: 1;
        }
    }
    
    ul {
        width: 100%;
    }


    li {
        //@extend %v-center;
        display: block;

        a,
        span {
            color: $color--medium-grey;
            display: block;
            @include font-bold();
            @include font-size($fs-lg);
            @include responsive-prop('padding-bottom', $space-xs);
            @include responsive-prop('padding-left', $space-md);
            @include responsive-prop('padding-top', $space-xs);
            width: 100%;
        }
        a {
            @include transition(color .1s ease-out);
            &.is-active,
            &:hover {
                color: $color--white;
            }
        }

        span {
            padding-bottom: 0 !important;
        }
    }

    ul ul {
        @include responsive-prop('margin-left', $space-xs);

        li {
            a {
                @include font-size($fs-md);
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
        }
    }
}