/**
 * -----------------------------------------------------------------------------
 * File: config/buttons
 * -----------------------------------------------------------------------------
 */

$button: (
    null:  50px,
    sm:    40px,
    md:    50px,
    lg:    60px
);  