/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color--black:     #000000;
$color--white: 		 #ffffff;

$color--red:         #c80000;

$color--grey:        #828282;
$color--medium-grey: #646464;
$color--light-grey:  #e6e6e6;

$color--success:      #27bd94 !default;
$color--info:         #1C6FB7 !default;
$color--danger:       #d0021b !default;
