/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color--black:     #000000;
$color--white: 		 #ffffff;

$color--red:         #c80000;
$color--blue:        #0b5678;

$color--grey:        #828282;
$color--light-grey:  #646464;

$color--success:      #27bd94 !default;
$color--info:         #1C6FB7 !default;
$color--danger:       #d0021b !default;
