/**
 * -----------------------------------------------------------------------------
 * File: config/form
 * -----------------------------------------------------------------------------
 */


$input-height: (
    null: 36px,
    sm:   40px,
    md:   50px,
    lg:   56px  
);

$textarea-height: (
    null: 130px,
    sm:   220px,
    md:   250px,
    lg:   300px  
);

$checkbox-size: (
    null: 18px,
    sm:   18px,
    md:   24px,
    lg:   24px  
);

