/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-xs: (
    null:  10px,
    sm:    10px,
    md:    20px,
    lg:    20px,
);

// $space-sm: (
//     null:  25px,
//     sm:    30px,
//     md:    35px,
//     lg:    40px,
// );

// $space-md: (
//     null:  40px,
//     sm:    30px,
//     md:    50px,
//     lg:    60px,
// );

// $space-lg: (
//     null:  30px,
//     sm:    40px,
//     md:    60px,
//     lg:    90px,
// );

// $space-xl: (
//     null:  40px,
//     sm:    30px,
//     md:    50px,
//     lg:    120px,
// );