/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-nav: (
    null: (24px,1.29),
    sm:   (24px,1.25), // @check (changed from 1.125 to 1.25 due to cropped umlaut)
    md:   (24px,1.25),
    lg:   (24px,1.25),
);

$fs-subnav: (
    null: (20px,1.4),
    sm:   (20px,1.2),
    md:   (20px,1.2),
    lg:   (20px,1.2),
);

$fs-sm: (
    null: (15px,1.13),
    sm:   (20px,1.2),
    md:   (20px,1.2),
    lg:   (20px,1.2),
);

$fs-md: (
    null: (19px,1.21),
    sm:   (31px,1.129),
    md:   (31px,1.129),
    lg:   (31px,1.129),
);

$fs-lg: (
    null: (38px,1.05),
    sm:   (51px,1.03),
    md:   (51px,1.03),
    lg:   (51px,1.03),
);