/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-sm: (
    null: (14px,1.35),
    sm:   (14px,1.35),
    md:   (14px,1.35),
    lg:   (14px,1.35)  
);

$fs-md: (
    null: (14px,1.428),
    sm:   (14px,1.428),
    md:   (21px,1.428),
    lg:   (21px,1.428)  
);

$fs-lg: (
    null: (21px,1.428),
    sm:   (21px,1.428),
    md:   (28px,1.428),
    lg:   (28px,1.428)  
);

$fs-nav: (
    null: (14px,1),
    sm:   (14px,1),
    md:   (14px,1),
    lg:   (14px,1)  
);