/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-sm: (
    null: (14px,1.35),
    sm:   (14px,1.35),
    md:   (14px,1.35),
    lg:   (14px,1.35)  
);

$fs-md: (
    null: (21px,1.47),
    sm:   (21px,1.47),
    md:   (21px,1.47),
    lg:   (21px,1.47)   
);

$fs-lg: (
    null: (24px,1.42),
    sm:   (24px,1.42),
    md:   (24px,1.42),
    lg:   (24px,1.42)  
);

// New
$fs-nav: (
    null: (14px,1),
    sm:   (14px,1),
    md:   (14px,1),
    lg:   (14px,1)  
);