/**
 * -----------------------------------------------------------------------------
 * File: views/competences
 * -----------------------------------------------------------------------------
 */

 .competences {
  
  h2, h3 {
    @include font-bold();
  }

  h2 {
    margin-bottom: $space-md;
    @include bp-sm() {
      margin-bottom: $space-sm;
    }
  }
  
  p {
    margin-bottom: $space-sm;
  }

  a {
    color: $color--black;
  }

  article.competence-intro {
    padding-bottom: $space-xl;
    @include bp-sm() {
      padding-bottom: $space-huge;
    }
    p {
      margin-bottom: 0;
    }
  }

  article.competence {
    border-top: 1px solid $color--grey;
    padding-top: $space-md;
    padding-bottom: $space-xl;

    .competence__text {
      > div {
        @include bp-sm() {
          max-width: 90%;
        }
      }
    }

    .competence__media {
      img {
        @extend %is-responsive;
      }
    }
  }
}

.cssgrid {
  article.competence {
    > div {
      display: grid;
      grid-template-columns: 1;
      grid-row-gap: $space-md;

      @include bp-sm() {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
      }
    }
  }
}

.no-cssgrid {
  article.competence {
    > div {
      @extend %clearfix;
  
      .competence__media {
        float: left;
        width: 100%;
      }
  
      .competence__text {
        float: right;
        width: 100%;
      }
  
      @include bp-sm() {
  
        .competence__media {
          float: right;
          width: 50%;
        }
  
        .competence__text {
          float: left;
          width: 50%;
        }
      }
    }
  }
}