/**
 * -----------------------------------------------------------------------------
 * File: views/contact
 * -----------------------------------------------------------------------------
 */

.contact {
  
  h2, h3 {
    @include font-bold();
  }
  
  p {
  }

  a {
    color: $color--black;
  }

  address {
    display: block;
    margin-bottom: $space-xxl;

    @include bp-sm() {
      border-top: 1px solid $color--grey;
      margin-bottom: 0;
      padding-top: $space-md;
    }
  }

  .map {
    margin-bottom: $space-xl;
    margin-top: $space-xl;
  }
}

.cssgrid {
  .contact-grid {
    @include bp-sm() {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: $space-md;
    }
  }
}

.no-cssgrid {
  .contact-grid {
    @extend %clearfix;
      @include bp-sm() {
      .span {
        float: left;
        &:first-child {
          margin-right: $space-md;
          width: calc(66.66667% - #{$space-md}/2);
        }
  
        &:last-child {
          width: calc(33.33333% - #{$space-md}/2);
        }
      }
    }
  }
}

