/**
 * -----------------------------------------------------------------------------
 * File: views/global
 * -----------------------------------------------------------------------------
 */

article {

  &.content-md {
    line-height: 1.7 !important;
  }

  &.content-lg {
    @include font-size($fs-lg);
    @include font-light();
    strong {
      @include font-regular();
    }
  }

  &.content-intro {
    padding: 2px 0 $space-xl 0;
    @include bp-sm() {
      padding: $space-huge 0 $space-huge 0;
    }
  }
}