/**
 * -----------------------------------------------------------------------------
 * File: views/global
 * -----------------------------------------------------------------------------
 */

article {

  &.content-md {
    line-height: 1.7 !important;
  }

  &.content-lg {
    @include font-size($fs-lg);
    @include font-light();
    strong {
      @include font-regular();
    }
  }

  &.content-intro {
    padding: 28px 0 60px 0;
    @include bp-sm() {
      padding: 92px 0 120px 0;
    }
  }
}