/**
 * -----------------------------------------------------------------------------
 * File: views/jobs
 * -----------------------------------------------------------------------------
 */

.jobs {
  article {
    border-top: 0 !important;
    padding-top: $space-sm;
    padding-bottom: 0 !important;

    @include bp-md() {
      padding-top: 0 !important;
    }


    br.hide-on-sm {
      display: none;
      @include bp-md() {
        display: block;
      }
    }

    span.hide-on-md {
      display: inline;
      @include bp-md() {
        display: none;
      }
    }

    h2 {
      @include font-regular();
      @include font-size($fs-lg);
      margin-bottom: $space-lg;
    }

    p {
      @include font-light();
      @include font-size($fs-lg);
      margin-bottom: $space-sm;
    }

    p:first-child {
      margin-bottom: 0 !important;
    }

    a {
      color: $color--black;
      text-decoration: none;
    }


    ul, li {
      margin: 0;
      padding: 0;
    }
  
    li {
      display: list-item;
      list-style-type: none;
    }
  
    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: $space-md;
      padding-left: 1.2em;
    }
  
    li {
      list-style-type: none;
    }
  
    ul > li:before {
      display: inline-block;
      content: "\2013";
      width: 1.2em;
      margin-left: -1.2em;
    }
  }
}