/**
 * -----------------------------------------------------------------------------
 * File: views/privacy
 * -----------------------------------------------------------------------------
 */

.privacy {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $space-xl;

  @include bp-sm() {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: $space-xl;
    grid-row-gap: 0;
  }

  a {
    color: $color--black;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  h1, h2, h3 {
    @include font-bold();
  }

  h1, h2 {
    margin-bottom: $space-md;
    @include bp-sm() {
      margin-bottom: $space-sm;
    }
  }
  
  p, ul {
    margin-bottom: $space-sm;
  }

  ul {
    margin-left: 0;
    padding: 0;
  }

  li {
    display: list-item;
    margin-left: $space-sm;
    padding-left: 0;
  }
  
}


