/**
 * -----------------------------------------------------------------------------
 * File: views/project
 * -----------------------------------------------------------------------------
 */

// Project listing
.project-list {

  h2 {
    @include font-size($fs-sm);
    margin-bottom: $space-xl;
    @include bp-sm() {
      display: none;
    }
  }

  .project-teaser {
    display: block;
    margin-top: $space-xxl;

    @include bp-sm() {
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    a {
      display: block;
      opacity: 1;
      text-decoration: none;
      transition: opacity .12s ease-out;

      &:hover {
        opacity: .8;
      }
    }

    img {
      @extend %is-responsive;
    }
  }
}

.project-list--panoptikum {
  .project-teaser {
    margin-top: $space-md;
    @include bp-sm() {
      margin-top: 0;
    }
  }

  h2 {
    margin-bottom: $space-md;
    &:not(:first-of-type) {
      margin-top: $space-xxl;
    }
  }
}

// Project detail
.project-detail {

  .project-header {
    margin-bottom: $space-xl;
    @include bp-sm() {
      display: none !important;
    }
    h2 {
      @include font-size($fs-sm);
    }
  }

  .project-info {
    margin-top: $space-md;

    h1, h2, h3 {
      @include font-bold();
    }

    p {
      margin-bottom: $space-sm;
    }

    article {
      border-top: 1px solid $color--grey;
      padding-top: $space-sm;
      position: relative;
    }

    .icon-toggle {
      opacity: 0;
      pointer-events: none;
    }
    
    @include bp-sm() {
      margin-top: 48px;
      position: fixed;
      left: $space-md;
      max-width: calc(25% - #{$space-md});
      top: calc(50% - #{$header-height-lg});
      width: 100%;
      z-index: 1000;
    }

    @include bp-lg {
      max-width: 275px;
      left: calc((100% - #{$page-max-width})/2);
    }

    &.is-tiny {

      .icon-toggle {
        opacity: 1;
        pointer-events: all;
      }

      .project-description {
        > div {
          display: none;
        }
      }
    }

    &.is-visible {

      .icon-toggle {
        opacity: 1;
        pointer-events: all;
        transition: opacity .08s ease-out;
      }
      
      .project-description {
        > div {
          display: block;
        }
      }
    }

    .project-relations {
      margin-top: $space-xxl;

      .project-relation {
        margin-bottom: $space-xl;
      }
    }
  }
}

.project-detail--panoptikum {
  .project-header:not(:first-child) {
    margin-top: $space-xl;
  }
}

// Project grid
.cssgrid {
  .project-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;

    @include bp-sm() {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: $space-md;
    }
  }

  .project-header {
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto 50px;
    grid-gap: 0;

    .span {
        &:last-child {
          text-align: right;
        }
    }
  }
}

.no-cssgrid {
  .project-list {
    @extend %clearfix;

    .project-teaser {
      margin-bottom: $space-md;
    }

    @include bp-sm() {
      .project-teaser {
        float: left;
        margin-right: $space-md;
        width: calc(16.6666667% - (5*16px/6));

        &:nth-child(6n+6) {
          margin-right: 0;
        }
      }
    }
  }
}



