/**
 * -----------------------------------------------------------------------------
 * File: views/team
 * -----------------------------------------------------------------------------
 */

.team {

  article {
    margin-bottom: 22px;
    @include bp-sm() {
      margin-bottom: 0;
    }
  }

  figure {
    display: block;
    margin-bottom: 16px;
  }

  h2 {
    @include font-bold();
  }

  a {
    color: $color--black;
    text-decoration: none;
  }
}

.cssgrid {
  .team {
    @include bp-sm() {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: $space-md;
      grid-row-gap: $space-lg;
    }
  }
}

.no-cssgrid {
  .team {
    @extend %clearfix;
    @include bp-sm() {
      article {
        float: left;
        margin-right: $space-md;
        margin-bottom: 22px;
        width: calc(33.33333% - (2*16px/3));
        &:nth-child(3n+3) {
          margin-right: 0;
        }
      }
    }
  }
}