/**
 * -----------------------------------------------------------------------------
 * File: component/lists/global
 * -----------------------------------------------------------------------------
 *
 */

.list-item {
    border-top: 2px solid $color--black;
    display: grid;
    grid-template-columns: auto 18px;
    @include responsive-prop('padding-top', $space-xs);
    @include responsive-prop('margin-bottom', $space-xs);

    &.is-last {
        border-bottom: 2px solid $color--black;
        @include responsive-prop('padding-bottom', $space-xs);
    }
}

.list-item-body {
    @include responsive-prop('padding-right', $space-sm);

    span {
        display: block;
    }

    h3 {
        margin-top: 0;
    }

    p {
        margin-bottom: 10px !important;
    }
}

.list-item-action {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: right;
}