/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color--black: #000000;
$color--white: #ffffff;

$color--dark:  #222222;
$color--light: #f9f9f9;

$color--grey:        #999999;
$color--light-grey:  #eeeeee;
$color--medium-grey: #666666;
$color--dark-grey:   #333333;

$color--purple: #BE8A60;

$color--success:   #5cb85c !default;
$color--info:      #5bc0de !default;
$color--warning:   #f0ad4e !default;
$color--danger:    #d9534f !default;