/**
 * -----------------------------------------------------------------------------
 * File: config/icons
 * -----------------------------------------------------------------------------
 */
 
$icon: (
    null: 20px,
    sm:   25px,
    md:   35px,
    lg:   40px  
);