/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */

.hide-sm {
	display: none;
	@include bp-md {
		display: block;
	}
}

.hide-md {
	display: block;
	@include bp-sm {
		display: none;
	}
}