/**
 * -----------------------------------------------------------------------------
 * File: components/icons/close
 * -----------------------------------------------------------------------------
 */

.icon-close {
    @extend %icon-dashboard;
    background-image: url($url-icons + 'close.svg');
    @include responsive-prop('left', $space-md);
    position: absolute;
    top: auto;
}

.icon-close-overlay {
    @extend %icon-dashboard;
    background-image: url($url-icons + 'close.svg');
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 100;
}