/**
 * -----------------------------------------------------------------------------
 * File: components/icons/edit
 * -----------------------------------------------------------------------------
 */

.icon-eye,
.icon-eye-off {
    @extend %icon-dashboard;
    display: block;
}

.icon-eye {
    background-image: url($url-icons + 'eye.svg');
}

.icon-eye-off {
    background-image: url($url-icons + 'eye-off.svg');
}