/**
 * -----------------------------------------------------------------------------
 * File: components/icons/edit
 * -----------------------------------------------------------------------------
 */

.icon-star,
.icon-star-related,
.icon-star-off {
  @extend %icon-dashboard;
  display: block;
}
 
.icon-star {
  background-image: url($url-icons + 'star.svg');
}

.icon-star-related {
  background-image: url($url-icons + 'star-related.svg');
}

.icon-star-off {
  background-image: url($url-icons + 'star-off.svg');
}