/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */

// Page block a.k.a outer layout 
%page-block,
.page-block {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    @include responsive-prop('max-width', $page-max-width);
}
