/**
 * -----------------------------------------------------------------------------
 * File: layout/navigation/browse
 * -----------------------------------------------------------------------------
 */

nav.project-browse {
  display: none;

  @include bp-sm() {
    background-color: $color--white;
    display: block;
    height: 72px;
    padding-bottom: $space-lg;
    padding-top: $space-lg;
    position: sticky;
    top: 75px;
    width: 100%;
    z-index: 1001;
  }
}