/**
 * -----------------------------------------------------------------------------
 * File: layout/navigation/sidebar
 * -----------------------------------------------------------------------------
 */

nav.sidebar {
  background-color: $color--white;
  height: calc(100% - #{$header-height-sm});
  padding: 20px 0 0 $space-md;
  right: 0;
  position: fixed;
  top: 78px;
  transform: translateX(100%);
  transition: transform .24s ease-out;
  width: 100%;
  z-index: 105;

  &.is-visible {
    transform: translateX(40px);
  }

  a {
    color: $color--grey;
    line-height: 2.5;
    text-transform: uppercase;
    transition: color .12s ease-out;

    &.is-active,
    &:hover {
      color: $color--black;
    }
  }

  li {
    display: block;
  }

  ul ul {
    li {
      padding-left: $space-xs;
    }
    a {
      text-transform: none;
    }
  }
}

@include bp-sm() {

  nav.sidebar {
    height: auto;
    padding: 16px 0 0 0;
    position: fixed;
    right: auto;
    top: $header-height-lg;
    width: calc(25% - 16px);

    transform: translateX(0);
    transition: none !important;

    &.is-visible {
      transform: translateX(0);
    }

    a {
      line-height: 1.7 !important;
    }

    ul > li > a {
      display: none;
    }

    ul ul {
      li {
        padding-left: 0;
      }
      a {
        display: block;
        text-transform: uppercase;
      }
    }

    ul ul ul {
      li {
        padding-left: $space-xs;
      }
      a {
        text-transform: none;
      }
    }

    ul.is-profile ul {
      a {
        text-transform: none !important;
      }
    }
  }
}

@include bp-lg() {
  nav.sidebar {
    max-width: 275px;
  }
}

.is-hidden,
.hide-sm {
  display: none !important;
}

.is-visible .hide-sm {
  @include bp-sm() {
    display: block !important;
  }
}
