/**
 * -----------------------------------------------------------------------------
 * File: component/grid
 * -----------------------------------------------------------------------------
 *
 */

// Header grid
.grid-header {
	@extend %clearfix;

	.span {
		border-bottom: 1px solid $color--dark-grey;
		
		&:last-child {
			display: none;
		}

		@include bp-sm() {
			display: block;
			float: left;
				
			&:first-child {
				margin-right: 8px;
				width: calc(25% - 8px);
			}
	
			&:last-child {
				display: block;
				margin-left: 8px;
				width: calc(75% - 8px);
			}
		}
	}
}

// Box grid
.grid-box {
	@extend %clearfix;
	margin-bottom: $space-lg;
	
	.span {

		&:first-child {
			margin-bottom: $space-lg;
		}

		@include bp-sm() {
			float: left;
			margin-bottom: 0;
			width: calc(50% - 8px);

			&:first-child {
				margin-bottom: 0;
				margin-right: 8px;
			}

			&:last-child {
				margin-left: 8px;
			}
		}
	}
}

.grid-team {
	@extend %clearfix;
	display: block;
	width: 100%;

	@include bp-sm() {
		margin-bottom: $space-lg;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.span {

		margin-bottom: $space-lg;

		@include bp-sm() {
			float: left;
			margin-bottom: 0 !important;
			width: calc(33.3333% - 8px);

			&:nth-child(1) {
				margin-right: 8px;
			}

			&:nth-child(2) {
				margin-left: 8px;
			}

			&:nth-child(3) {
				margin-left: 8px;
			}
		}
	}
}