/**
 * -----------------------------------------------------------------------------
 * File: layout/sections
 * -----------------------------------------------------------------------------
 */

section.page-content {
    position: relative;
    width: auto;

    @include bp-sm() {
        margin-left: calc(25% + 8px);
    }
}