/**
 * -----------------------------------------------------------------------------
 * File: app
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/form
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/icons
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
/* Box shadows
 * -------------------- */
/* Default easing
 * -------------------- */
/* Urls
 * -------------------- */
/* Breakpoints
 * -------------------- */
/* Global element dimensions
 * ---------------------- */
/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: helper/normalize
 * -----------------------------------------------------------------------------
 * 
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 *
 */
/**
 * Set box-sizing to "border-box" for all elements
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  vertical-align: middle;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  background-color: #000;
  border: none;
  box-sizing: content-box;
  display: block;
  height: 1px;
  margin: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

th {
  font-weight: normal;
}

/* Input placeholders
   ========================================================================== */
::-webkit-input-placeholder {
  color: #000000;
}

/* FF 18- */
:-moz-placeholder {
  color: #000000;
}

/* FF 19+ */
::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

/* Reset headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

/* Reset definition lists
   ========================================================================== */
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

/* Reset anchors
   ========================================================================== */
a,
a:hover,
a:visited {
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* Reset nav elements
   ========================================================================== */
nav ol,
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
}

/* Set text selection to lightgrey
   ========================================================================== */
::-moz-selection {
  background: #dac9d9;
  text-shadow: none;
}

::selection {
  background: #dac9d9;
  text-shadow: none;
}

/* Remove italic style
   ========================================================================== */
i,
em,
address {
  font-style: normal;
}

/* Add font weight bold
   ========================================================================== */
b, strong {
  font-weight: bold;
}

/* Remove margins for paragraphs
   ========================================================================== */
p {
  margin: 0;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/flexbox
 * -----------------------------------------------------------------------------
 *
 * Alignment using flexbox
 *
 */
.v-center {
  display: flex !important;
  align-items: center;
}

.h-center {
  display: flex !important;
  justify-content: center;
}

.h-start {
  display: flex !important;
  justify-content: flex-start;
}

.h-end {
  display: flex !important;
  justify-content: flex-end;
}

/**
 * -----------------------------------------------------------------------------
 * File: helper/functions
 * -----------------------------------------------------------------------------
 */
/**
 * Get value from map
 * -----------------------------------------------------------------------------
 * 
 * Usage: get($map, $key);
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: helper/mixins
 * -----------------------------------------------------------------------------
 */
/**
 * Scrollbars
 * -----------------------------------------------------------------------------
 */
/**
 * Vertical align
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      element {
 *          @include vertical-center($position);
 *      }
 *
 */
/**
 * Cross browser opacity
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      img {
 *          @include opacity(1,100);
 *      }
 *
 */
/**
 * Set box shadow
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      div {
 *          @include box-shadow(values);
 *      }
 *
 */
/**
 * Grayscale an image
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      img {
 *          @include filter-grayscale(value);
 *      }
 *
 */
/**
 * Background defaults
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Background cover
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Browser Prefixes
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Visually hide an element
 * -----------------------------------------------------------------------------
 * This placeholder selector will visually hide an element while
 * still make it accessible for screenreaders.
 * 
 * Usage:
 *
 *      p {
 *          @extend %visually-hidden;
 *      }
 *
 */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Clearfix
 * -----------------------------------------------------------------------------
 * A solid clearfix by Nicolas Gallagher.
 * Source: (http://nicolasgallagher.com/micro-clearfix-hack/)
 * 
 * Usage:
 *
 *      p {
 *          @extend %clearfix;
 *      }
 *
 */
.no-cssgrid .grid,
.clearfix,
.cf {
  *zoom: 1;
}
.no-cssgrid .grid:before,
.clearfix:before,
.cf:before {
  content: " ";
  display: table;
}
.no-cssgrid .grid:after,
.clearfix:after,
.cf:after {
  content: " ";
  display: table;
  clear: both;
}

/**
 * Media Queries
 * -----------------------------------------------------------------------------
 * A simple mixin for using media queries. Change the values to
 * fit your sites needs.
 * 
 * Usage:
 *
 *      header {
 *          @include bp-small() {
 *              display: none;
 *          }
 *          @include bp-huge() {
 *              display: block;
 *          }
 *      }
 */
/**
 * Set a single (responsive) property
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      p {
 *          @include responsive-prop('prop', $value, '!important');
 *      }
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/spaces
 * -----------------------------------------------------------------------------
 *
 * Helper classes for vertical spacing
 *
 */
.sa-none {
  margin-bottom: 0 !important;
}

.sa-xs {
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .sa-xs {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 900px) {
  .sa-xs {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .sa-xs {
    margin-bottom: 20px;
  }
}

.sb-none {
  margin-top: 0 !important;
}

.sb-xs {
  margin-top: 10px;
}
@media screen and (min-width: 600px) {
  .sb-xs {
    margin-top: 10px;
  }
}
@media screen and (min-width: 900px) {
  .sb-xs {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .sb-xs {
    margin-top: 20px;
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */
.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */
@font-face {
  font-family: "basis-grotesque-medium-pro";
  src: url("fonts/basis-grotesque-medium-pro.eot");
  src: url("fonts/basis-grotesque-medium-pro.eot?#iefix") format("embedded-opentype"), url("fonts/basis-grotesque-medium-pro.woff2") format("woff2"), url("fonts/basis-grotesque-medium-pro.woff") format("woff"), url("fonts/basis-grotesque-medium-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "basis-grotesque-regular-pro";
  src: url("fonts/basis-grotesque-regular-pro.eot");
  src: url("fonts/basis-grotesque-regular-pro.eot?#iefix") format("embedded-opentype"), url("fonts/basis-grotesque-regular-pro.woff2") format("woff2"), url("fonts/basis-grotesque-regular-pro.woff") format("woff"), url("fonts/basis-grotesque-regular-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * -----------------------------------------------------------------------------
 * File: components/typo/mixins
 * -----------------------------------------------------------------------------
 *
 * Mixins for typography
 *
 */
/**
 * Font smoothing
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Font: regular
 * -----------------------------------------------------------------------------
 * 
 */
/**
 * Font: medium
 * -----------------------------------------------------------------------------
 * 
 */
/**
 * Define the font size
 * -----------------------------------------------------------------------------
 * 
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */
.uc {
  text-transform: uppercase;
}

.lc {
  text-transform: lowercase;
}

.cap {
  text-transform: capitalize;
}

.nobr {
  white-space: nowrap;
}

/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */
strong, b {
  font-weight: 700;
}

p {
  margin-bottom: 24px;
}
p:last-child, p:last-of-type {
  margin-bottom: 0;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/anchors/global
 * -----------------------------------------------------------------------------
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: component/articles/global
 * -----------------------------------------------------------------------------
 *
 */
.article {
  display: block;
}

/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */
nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  max-width: 100%;
}
@media screen and (min-width: 600px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    padding-left: 10px;
  }
}
@media screen and (min-width: 900px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    padding-left: 20px;
  }
}
@media screen and (min-width: 600px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    padding-right: 10px;
  }
}
@media screen and (min-width: 900px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    padding-right: 20px;
  }
}
@media screen and (min-width: 600px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    max-width: 100%;
  }
}
@media screen and (min-width: 900px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  nav.site-nav > div, main.site-content > div, header.site-header > div,
.page-block {
    max-width: 1400px;
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: components/brand
 * -----------------------------------------------------------------------------
 */
.brand {
  height: 60px;
  display: block;
  left: calc(100% - 126px);
  position: absolute;
  top: 10px;
  width: 116px;
  z-index: 15;
}
@media screen and (min-width: 600px) {
  .brand {
    top: 10px;
  }
}
@media screen and (min-width: 900px) {
  .brand {
    top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .brand {
    top: 20px;
  }
}
@media only screen and (min-width: 900px) {
  .brand {
    left: auto;
    height: 80px;
    right: 20px;
    width: 155px;
  }
}
/**
 * -----------------------------------------------------------------------------
 * File: components/boxes/global
 * -----------------------------------------------------------------------------
 */
.box {
  display: block;
  position: relative;
}

/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/global
 * -----------------------------------------------------------------------------
 */
.btn {
  background-color: transparent;
  border-radius: 0;
  border: none;
  display: block;
  line-height: 1;
  outline: none !important;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #ffffff;
}

.btn-ib {
  border-radius: 0;
  display: inline-block;
  line-height: 1;
  outline: none !important;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #ffffff;
}

.btn-bg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
}

/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: component/cards/global
 * -----------------------------------------------------------------------------
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: component/headings/generic
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/headings/h1
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/headings/h2
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/headings/h3
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/icons/global
 * -----------------------------------------------------------------------------
 */
.icons {
  display: block;
  width: 100%;
}

.icons-center {
  margin-left: auto;
  margin-right: auto;
}

.icons-spread {
  text-align: center;
}
.icons-spread [class*=icon]:not(:last-child) {
  margin-right: 5px;
}

@supports (display: flex) {
  .icons-spread {
    display: flex;
    justify-content: space-between;
  }
  .icons-spread .icon {
    margin-right: 0 !important;
  }
}
/**
 * -----------------------------------------------------------------------------
 * Generic icon classes
 * -----------------------------------------------------------------------------
 */
.icon-menu,
.icon {
  display: block;
}

.icon-ib {
  display: inline-block;
}

.icon-menu,
.icon-bg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
}

.icon-round {
  border-radius: 50%;
}

.icon-over {
  left: 0;
  position: absolute;
  top: 0;
}

.icon-img img,
.icon-img svg {
  display: block;
  height: auto;
  width: 100%;
}

.icon-rotate {
  transition: transform 0.16s ease-out;
}
.icon-rotate:hover {
  transform: rotate(20deg);
}

.icon-fadeOut {
  opacity: 1;
  transition: opacity 0.12s ease-out;
}
.icon-fadeOut:hover {
  opacity: 0.6;
}

/**
 * -----------------------------------------------------------------------------
 * File: components/icons/menu
 * -----------------------------------------------------------------------------
 */
.icon-menu {
  background-image: url("../img/icons/menu-burger.svg");
  background-size: 42px 23px;
  background-position: top left;
  height: 27px;
  position: relative;
  top: 10px;
  width: 42px;
  z-index: 1;
}
.icon-menu.is-active {
  background-image: url("../img/icons/menu-cross.svg");
  background-size: 27px 27px;
}
@media only screen and (min-width: 900px) {
  .icon-menu {
    display: none;
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: components/images
 * -----------------------------------------------------------------------------
 *
 * Various classes for image elements
 */
.brand img,
.is-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

/**
 * -----------------------------------------------------------------------------
 * File: components/tables/global
 * -----------------------------------------------------------------------------
 */
table {
  width: 100%;
}

/**
 * -----------------------------------------------------------------------------
 * File: form/global
 * -----------------------------------------------------------------------------
 */
input[type=text],
input[type=email],
input[type=number],
input[type=password],
textarea,
select,
button {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #000000;
  color: #000000;
  display: block;
  line-height: 1;
  padding: 5px 10px;
  position: relative;
  outline: none !important;
  width: 100%;
  z-index: 1;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #ffffff;
}

textarea {
  height: 160px;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

/**
 * -----------------------------------------------------------------------------
 * File: form/input
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: form/select
 * -----------------------------------------------------------------------------
 */
.select-wrapper {
  background-color: transparent;
  display: inline-block;
  position: relative;
  width: auto;
}
.select-wrapper:after {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 8px;
  content: "";
  height: 8px;
  right: 10px;
  position: absolute;
  top: 13px;
  width: 16px;
  z-index: 0;
}
.select-wrapper select {
  background-color: transparent !important;
  display: block;
  text-transform: uppercase;
  width: 100%;
}
.select-wrapper select:hover {
  cursor: pointer;
}

/**
 * -----------------------------------------------------------------------------
 * File: form/label
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: form/layout
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: form/validation
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: form/forms/custom
 * -----------------------------------------------------------------------------
 */
form.custom input[type=text]::-webkit-input-placeholder {
  color: #000000;
}
form.custom input[type=text]::-moz-placeholder {
  color: #000000;
}
form.custom input[type=text]:-ms-input-placeholder {
  color: #000000;
}
form.custom input[type=text]:-moz-placeholder {
  color: #000000;
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */
html {
  overflow-y: scroll;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "basis-grotesque-regular-pro", Arial, Helvetica, sans-serif;
  font-display: auto;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.13;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 900px) {
  body {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
    line-height: 1.2;
  }
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #dddddd;
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */
header.site-header {
  background-color: #ffffff;
  height: 80px;
  min-height: 80px;
  position: relative;
  width: 100%;
  z-index: 5;
}
@media screen and (min-width: 600px) {
  header.site-header {
    height: 160px;
  }
}
@media screen and (min-width: 900px) {
  header.site-header {
    height: 160px;
  }
}
@media screen and (min-width: 1200px) {
  header.site-header {
    height: 160px;
  }
}
@media screen and (min-width: 600px) {
  header.site-header {
    min-height: 160px;
  }
}
@media screen and (min-width: 900px) {
  header.site-header {
    min-height: 160px;
  }
}
@media screen and (min-width: 1200px) {
  header.site-header {
    min-height: 160px;
  }
}
@media only screen and (min-width: 900px) {
  header.site-header > div {
    padding-top: 20px;
  }
}

/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: layout/footer
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: layout/navigation
 * -----------------------------------------------------------------------------
 */
nav.site-nav {
  background-color: #ffffff;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  padding-bottom: 10px;
  pointer-events: none;
  position: absolute;
  top: 80px;
  transition: opacity 0s ease-in;
  width: 100%;
  z-index: -1;
  -webkit-overflow-scrolling: touch;
}
nav.site-nav.is-visible {
  height: calc(100vh - 80px);
  opacity: 1;
  pointer-events: all;
  z-index: 10;
  transition: opacity 0.16s ease-in;
}
nav.site-nav a {
  color: #000000;
  text-decoration: none;
}
nav.site-nav a:hover, nav.site-nav a.is-active {
  text-decoration: underline;
}
nav.site-nav a.is-inactive {
  color: #808080;
}
nav.site-nav ul.has-indent {
  padding-left: 25px;
}
nav.site-nav ul li {
  display: block;
}
nav.site-nav ul li.is-inline {
  display: inline-block;
}
nav.site-nav ul a {
  font-size: 24px;
  line-height: 1.29;
}
@media screen and (min-width: 600px) {
  nav.site-nav ul a {
    font-size: 24px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 900px) {
  nav.site-nav ul a {
    font-size: 24px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1200px) {
  nav.site-nav ul a {
    font-size: 24px;
    line-height: 1.25;
  }
}
nav.site-nav ul ul {
  display: none;
}
nav.site-nav ul ul ul {
  display: none;
}
nav.site-nav ul ul ul a {
  font-size: 20px;
  line-height: 1.4;
}
@media screen and (min-width: 600px) {
  nav.site-nav ul ul ul a {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 900px) {
  nav.site-nav ul ul ul a {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  nav.site-nav ul ul ul a {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 900px) {
  nav.site-nav {
    background-color: #ffffff;
    height: 40px;
    opacity: 1;
    overflow: visible;
    padding-bottom: 0;
    pointer-events: all;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  nav.site-nav.is-visible {
    height: 40px;
  }
  nav.site-nav ul {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
  nav.site-nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  nav.site-nav ul li.is-language {
    margin-right: 5px;
  }
  nav.site-nav ul ul {
    display: none;
    left: auto;
    position: absolute;
  }
  nav.site-nav ul ul li {
    display: block;
    margin-right: 0;
    width: 100%;
  }
  nav.site-nav ul ul ul {
    display: none;
    position: relative;
  }
}
/**
 * -----------------------------------------------------------------------------
 * File: layout/grid
 * -----------------------------------------------------------------------------
 *
 */
.span {
  border-top: 1px solid #000000;
  padding-top: 5px;
}

.cssgrid .grid-team {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 600px) {
  .cssgrid .grid-team {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 900px) {
  .cssgrid .grid-team {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid-team-flexbox {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: 1200px;
}
@media only screen and (min-width: 600px) {
  .grid-team-flexbox {
    /* Re-order items into 2 rows */
  }
  .grid-team-flexbox .span {
    width: 50%;
    width: calc(50% - 12px);
    margin-bottom: 24px;
    /* Optional */
  }
  .grid-team-flexbox .span:nth-child(2n+1) {
    order: 1;
    margin-right: 24px;
  }
  .grid-team-flexbox .span:nth-child(2n) {
    order: 2;
  }
}
@media only screen and (min-width: 900px) {
  .grid-team-flexbox {
    /* Re-order items into 3 rows */
  }
  .grid-team-flexbox .span {
    width: calc(33.33333% - 16px);
    margin-bottom: 24px;
    /* Optional */
  }
  .grid-team-flexbox .span:nth-child(3n+1) {
    order: 1;
    margin-right: 24px;
  }
  .grid-team-flexbox .span:nth-child(3n+2) {
    order: 2;
    margin-right: 24px;
  }
  .grid-team-flexbox .span:nth-child(3n) {
    order: 3;
  }
}

/* Force new columns */
@media only screen and (min-width: 600px) {
  .grid-team-flexbox::before,
.grid-team-flexbox::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 1;
  }
}
@media only screen and (min-width: 900px) {
  .grid-team-flexbox::before,
.grid-team-flexbox::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
}
@media only screen and (min-width: 600px) {
  .grid-team-masonry .span {
    width: calc(50% - 12px);
  }
}
@media only screen and (min-width: 900px) {
  .grid-team-masonry .span {
    width: calc(33.3333% - 16px);
  }
}