/**
 * -----------------------------------------------------------------------------
 * File: component/boxes/global
 * -----------------------------------------------------------------------------
 */

 %box,
 .box {
     display: block;
     position: relative;
 }
 
 .box-text {
     @extend %box;
     @extend %v-center;
     @include font-size($fs-lg);
     @include font-light();
     @include responsive-prop('height', $box-heights-sm);
     margin-top: 0;
 }
 
 .box-team,
 .box-profile,
 .box-contact {
     @extend %box;
     padding-top: 60px;
 }
 
 .box-image,
 .box-image-wide,
 .box-quote {
     @extend %box;
     padding-top: $space-sm;
 }
 
 .box-image-wide {
     margin-bottom: $space-lg;
 }
 
 .box-quote {
     div {
         background-color: $color--blue;
     }
     p {
         color: $color--white;
         @include font-size($fs-md);
         margin-left: $space-sm;
         margin-right: $space-sm;
         margin-top: $space-sm;
 
         @include bp-sm() {
             @include font-size($fs-sm);
         }
 
         @include bp-md() {
             @include font-size($fs-md);
         }
     }
 }
 
 // Overlay
 .box-image,
 .box-image-wide {
     position: relative;
 
     &.has-overlay {
         &:after {
             opacity: 1;
             z-index: 10;
         }
     }
 
     &:after {
         background-color: rgba(255,255,255,.7);
         content: '';
         display: block;
         height: 100%;
         left: 0;
         opacity: 0;
         pointer-events: none;
         position: absolute;
         top: 0;
         width: 100%;
         z-index: -1;
         transition: opacity .1s ease-out;
     }
 }