/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/add-media
 * -----------------------------------------------------------------------------
 */

.btn-add-media-highlight {
    @extend %btn-ib;
    @extend %btn-icon;
    background-color: $color--info;
    border: 2px solid color--info;
    color: $color--light;
    background-image: url($url-icons + 'file-plus-light.svg');
    margin-bottom: 15px;
    margin-top: 5px;
}