/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/global
 * -----------------------------------------------------------------------------
 */

%btn,
.btn {
	background-color: transparent;
    border-radius: 2px;
    border: none;
    line-height: 1;
	outline: none !important;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: $color--white;
    @include transition(background-color .1s ease-out);
}

%btn-ib,
.btn-ib {
    border-radius: 2px;
    display: inline-block;
    line-height: 1;
    outline: none !important;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: $color--white;
}

%btn-shadow,
.btn-shadow {
    box-shadow: none;
    @include transition(box-shadow .1s ease-in);
    &:hover {
        box-shadow: $box-shadow;
    }
}

%btn-bg,
.btn-bg {
    @include background-default();
}

%btn-icon,
.btn-icon {
    @include background-default();
    background-size: 18px;
    background-position: top 7px left 5px;
    @include font-size($fs-xs);
    line-height: 1 !important;
    padding: 10px 10px 10px 30px;
}

%btn-loading,
.btn-loading {
    position: relative;

    &.is-loading:after {
        background-color: #343E3D;
        border-radius: 0;
        content: '';
        display: block;
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
        animation: loadingBtn 2s infinite;
    }
}

%btn-dark,
.btn-dark {
    background-color: $color--dark;
    border: 2px solid color--dark;
    color: $color--light;
}

%btn-light,
.btn-light {
    background-color: $color--white;
    border: 2px solid $color--white;
    color: $color--dark;
}

%btn-danger,
.btn-danger {
    background-color: $color--danger;
    border: 2px solid color--danger;
    color: $color--light;
}

%btn-info,
.btn-info {
    background-color: $color--info;
    border: 2px solid color--info;
    color: $color--light;
}
