/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

.btn-primary {
	@extend %btn-ib;
	background-color: $color--light;
	border-radius: 2px;
	border: none;
	color: $color--white;
	background-color: $color--info;
	@include font-size($fs-sm);
	@include font-bold();
	padding: 12px 24px;
	width: auto;
	@include transition(background-color .16s ease-out);

	&:hover {
		background-color: darken($color--info, 10);
	}
}