/**
 * -----------------------------------------------------------------------------
 * File: form/global
 * -----------------------------------------------------------------------------
 */

input[type=text],
input[type=email],
input[type=number],
input[type=password],
textarea,
select,
button {
	background-color: transparent;
	border-radius: 2px;
	border: 2px solid $color--dark;
	color: $color--dark;
	display: block;
	@include font-regular();
	padding: 10px;
	position: relative;
	outline: none !important;
	width: 100%;
	z-index: 1;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: $color--white;
}

textarea {
	height: 200px;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

input[type=submit],
button {
	background-color: $color--dark;
	border-radius: 2px;
	color: $color--white;
	display: inline-block;
	@include font-size($fs-sm);
	@include font-bold();
	padding: 15px 35px;
	width: auto;
	@include transition(background-color .1s ease-out, border-color .1s ease-out);

	&:hover {
		background-color: $color--medium-grey;
		border-color: $color--medium-grey;
	}
}