/**
 * -----------------------------------------------------------------------------
 * File: form/select
 * -----------------------------------------------------------------------------
 */

.select-wrapper {
    background-color: transparent;
    display: inline-block;
	position: relative;
    width: auto;

    &.is-wide {
        width: 100%;
    }

	&:after {
		@include background-default();
		background-image: url($url-icons + 'chevron-down.svg');
		background-repeat: no-repeat;
		background-position: center center;
        background-size: 18px auto;
        background-color: $color--light-grey;
		content: '';
		height: 100%;
        right: 0;
        padding: 0 5px;
		position: absolute;
		top: 0;
		width: 32px;
		z-index: 0;
	}

	select {
        background-color: transparent !important;
        display: block;
        padding: 11px 50px 9px 6px;
        width: 100%;

        &.is-sm {
            padding: 8px 20px 6px 6px;
        }

        &.is-md {
            width: 120px
        }

        &.is-lg {
            width: 180px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}