/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

// Base layout
html {
	overflow-y: scroll;
}

html,
body {
	height: 100%;
}

body {
	color: $color--black;
	@include font-smoothing();
	@include font-regular();
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

// Scrollbars
@include scrollbar(8px, #bbbbbb);