/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
	overflow-y: auto;
}

html,
body {
	height: 100%;
}

body {
	@extend %inner-block;
	color: $color--black;
	@include font-smoothing();
	@include font-regular();
	@include font-size($fs-sm);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

main {
	padding: $header-height-sm $space-md $space-md $space-md;
	position: relative;

	@include bp-lg() {
		padding-top: $header-height-lg;
		padding-left: 0;
		padding-right: 0;
	}
}

// Scrollbars
@include scrollbar(8px, #ccc);