/**
 * -----------------------------------------------------------------------------
 * File: component/grid
 * -----------------------------------------------------------------------------
 *
 */

/*
// Page layout grid 
.grid-layout {
	@extend %clearfix;

	@include bp-sm() {
		.span {
			float: left;
			padding-top: $space-md;
			
			&:nth-child(1) {
				margin-right: $space-xs;
				width: calc(25% - #{$space-xs});
			}
	
			&:nth-child(2){
				margin-left: $space-xs;
				width: calc(75% - #{$space-xs});
			}
		}
	}
}

// Box grid
.grid-box {
	@extend %clearfix;
	margin-bottom: $space-lg;
	
	.span {

		&:first-child {
			margin-bottom: $space-lg;
		}

		@include bp-sm() {
			float: left;
			margin-bottom: 0;
			width: calc(50% - #{$space-xs});

			&:first-child {
				margin-bottom: 0;
				margin-right: $space-xs;
			}

			&:last-child {
				margin-left: $space-xs;
			}
		}
	}
}

.grid-team {
	@extend %clearfix;
	display: block;
	width: 100%;

	@include bp-sm() {
		margin-bottom: $space-lg;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.span {

		margin-bottom: $space-lg;

		@include bp-sm() {
			float: left;
			margin-bottom: 0 !important;
			width: calc(33.3333% - 11px);

			&:nth-child(1) {
				margin-right: 16px;
			}

			&:nth-child(2) {
				margin-right: 16px;
			}

			&:nth-child(3) {
			}
		}
	}
}
*/