/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
    background-color: $color--white;
    @include responsive-prop('height', $header-heights);
    @include responsive-prop('min-height', $header-heights);

    // fixed header:
    // left: 0;
    // position: fixed;
    // top: 0;
    
    // non-fixed header:
    position: relative;

    width: 100%;
    z-index: 5;

    > div {
        @extend %page-block;
        @include bp-md() {
            padding-top: 20px;
        }
    }
}

