/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
    @extend %clearfix;
    background-color: $color--white;
    left: 0;
    padding: 0 $space-md;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    > div {
        @extend %inner-block;
    }

    .span {
        @include font-size($fs-sm);
        border-bottom: 1px solid $color--grey;
        float: left;
        line-height: 1 !important;
        padding: $space-xl 0;
        position: relative;

        &.header-logo {
            width: 50px;
        }

        &.header-title {
            width: calc(100% - 50px);
            @include bp-sm() {
                display: none;
            }
        }

        &.header-navigation {
            display: none;
        }

        @include bp-sm() {
            padding-bottom: 28px;

            &.header-logo {
                margin-right: $space-xs;
                width: calc(25% - #{$space-xs});
            }
    
            &.header-navigation {
                display: block;
                margin-left: $space-xs;
                width: calc(75% - #{$space-xs});
            }
        }
    }
}