/**
 * -----------------------------------------------------------------------------
 * File: layout/sections
 * -----------------------------------------------------------------------------
 */

section.site-content {
  padding-top: $space-xl;
  
  @include bp-sm() {
    padding-top: $space-huge;
    position: relative;
    left: calc(25% + #{$space-xs});
    width: calc(75% - #{$space-xs});
  }

  &.site-content--list {
    @include bp-sm() {
      padding-top: $space-lg;
    }
  }

  &.site-content--slim,
  &.site-content--project {
    @include bp-sm() {
      padding-top: 0;
    }
  }
}