/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h1
 * -----------------------------------------------------------------------------
 */

h1.page-title {
  @include font-size($fs-sm);
  line-height: 1 !important;
}

.has-menu {
  h1.page-title {
    color: $color--light-grey;
    @include bp-sm() {
      color: $color--black;
    }
  }
}