/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color--black:       #000000;
$color--white: 		 #ffffff;

$color--red:         #c80000;
$color--grey:        #8c8c8c;
$color--blue:        #0b5678;
$color--dark-grey:   #505050;



$color--primary:         #222222;
$color--primary-light:   #edece3;
$color--secondary:       #00528c;
$color--secondary-light: #b1cde2;

$color--success:      #27bd94 !default;
$color--info:         #1C6FB7 !default;
$color--danger:       #d0021b !default;
$color--danger-light: #fde5e8 !default;