/**
 * -----------------------------------------------------------------------------
 * File: config/icons
 * -----------------------------------------------------------------------------
 */
 
$icon: (
    null: 38px,
    sm:   26px,
    md:   32px,
    lg:   40px  
);