/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */

.uc { text-transform: uppercase;}

.lc { text-transform: lowercase; }

.cap { text-transform: capitalize; }

.align-center { text-align: center; }

.align-justify { text-align: justify; }

.align-left { text-align: left; }

.align-right { text-align: right; }

.nobr { white-space: nowrap; }

.font-light {
	@include font-light();
}

.font-bold {
	@include font-bold();
}

/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */

strong, b {
	@include font-bold();
}

p {
	margin-bottom: $space-lg;
	&:last-of-type {
		margin-bottom: 0;
	}
}