/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */

@font-face {
    font-family: 'DINMedium';
    src: url('fonts/din-medi-webfont.eot');
    src: url('fonts/din-medi-webfont.eot?iefix') format('eot'),
    url('fonts/din-medi-webfont.woff') format('woff'),
    url('fonts/din-medi-webfont.ttf') format('truetype'),
    url('fonts/din-medi-webfont.svg#webfontDexzrqn6') format('svg');
}

@font-face {
    font-family: 'DINLight';
    src: url('fonts/din-light-webfont.eot');
    src: url('fonts/din-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-light-webfont.woff') format('woff'),
    url('fonts/din-light-webfont.ttf') format('truetype'),
    url('fonts/din-light-webfont.svg#DINLight') format('svg');
}

@font-face {
    font-family: 'DINRegular';
    src: url('fonts/din-regular-webfont-webfont.eot');
    src: url('fonts/din-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-regular-webfont-webfont.woff') format('woff'),
    url('fonts/din-regular-webfont-webfont.ttf') format('truetype'),
    url('fonts/din-regular-webfont-webfont.svg#dinregular') format('svg');
}
