/**
 * -----------------------------------------------------------------------------
 * File: component/boxes/ratio
 * -----------------------------------------------------------------------------
 */

 .ratio-boxes {
  position: relative;
  width: calc(100% + 16px);

  // grids
  [class^='box-'] {
    @include bp-sm() {
      display: grid;
    }
  }

  .box-2x1fr {
    @include bp-sm() {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .box-1fr {
    grid-template-columns: 1fr
  }

  // box types
  [class^='box__'] {
    height: 0;
    overflow: hidden;
    background: white;
    position: relative;

    > div {
      border: 2px dashed #999;
    }

    &.is-logo {
      > div {
        border: 2px dashed $color--red;
      }
    }

    > div,
    > div .box-wrapper,
    > div figure {
      background-color: $color--white;
      position: absolute;
      top: 0;
      left: 0;
      width:calc(100% - 16px);
      height: calc(100% - 16px);

      img {
        display: block;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;        
      }
    }

    > div .box-wrapper,
    > div figure,
    > div article {
      height: 100%; 
      width: 100%;
    }

    article {
      position: relative;

      .article__link {
        margin-top: 10px;
        a {
          color: $color--dark;
          @include font-bold();
        }
      }

      > div {
        left: 0%;
        padding: 20px;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
      }
    }

    article,
    figure {
      .btn-trash {
        margin: 0;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .btn-crop {
        margin: 0;
        position: absolute;
        right: 10px;
        top: 55px;
      }
    }

    figure {
      @include background-default();
      background-size: cover;
      background-position: center center;
      padding: 0;
      position: relative;

      figcaption {
        background-color: rgba(255,255,255,.6);
        bottom: 0;
        display: block;
        left: 0;
        padding: 10px;
        position: absolute;
        text-align: left;
        width: 100%;
      }
    }

    .box-buttons {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      
    }
  }

  .box__a {
    padding-top: 65.1162790697674%;
  }

  .box__b {
    padding-top: 130.232558139535%;
  }

  .box__c {
    padding-top: 65.1162790697674%;
  }

  .box__d {
    padding-top: 32.5581395348837%;
  }

  .box__e {
    padding-top: 130.232558139535%;
  }
}