/**
 * -----------------------------------------------------------------------------
 * File: components/brand
 * -----------------------------------------------------------------------------
 */

.brand {
    height: 60px;
    display: block;
    //@include responsive-prop('right', $space-xs);
    left: calc(100% - 126px);
    position: absolute;
    @include responsive-prop('top', $space-xs);
    width: 116px;
    z-index: 15;

    @include bp-md() {
        left: auto;
        height: 80px;
        right: 20px;
        width: 155px;
    }
    
    img {
        @extend %is-responsive;
    }
}