/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo {
    color: $color--red;
    @include font-regular();
    @include font-size($fs-sm);
    line-height: 1 !important;
    text-decoration: none;
    text-transform: uppercase;
}