/**
 * -----------------------------------------------------------------------------
 * File: components/bubbles/global
 * -----------------------------------------------------------------------------
 */

%bubble,
.bubble {
  background-color: transparent;
  border-radius: 4px;
  border: none;
  color: $color--white;
  display: inline-block !important;
  @include font-mono();
  @include font-size($fs-xxs);
  line-height: 1;
  padding: 4px;
  width: auto;

  &.is-info {
    background-color: $color--info;
  }
}
 