/**
 * -----------------------------------------------------------------------------
 * File: components/bubbles/global
 * -----------------------------------------------------------------------------
 */

%bubble,
.bubble {
  background-color: transparent;
  border-radius: 2px;
  border: none;
  color: $color--white;
  display: inline-block !important;
  @include font-mono();
  @include font-size($fs-xxs);
  line-height: 1 !important;
  padding: 6px 8px 6px 8px;
  position: relative;
  width: auto;

  &.is-info {
    background-color: $color--info;
  }

  &.is-restriction {
    background-color: $color--dark;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-transform: uppercase;
    top: -1px;
  }

  strong {
    @include font-mono();
    font-weight: 700;
  }
}
