/**
 * -----------------------------------------------------------------------------
 * File: layout/container
 * -----------------------------------------------------------------------------
 */

.container {
    //@include responsive-prop('padding-top', $header-heights);
}

.container-auth {
    @extend %v-center;
    @include background-default();
    background-image: url($url-images + 'splash.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}
