/**
 * -----------------------------------------------------------------------------
 * File: layout/footer
 * -----------------------------------------------------------------------------
 */

footer.form-footer {
    background-color: $color--white;
    box-shadow: $box-shadow-lg;
    bottom: 0;
    left: 0;
    @include responsive-prop('height', $footer-heights);
    position: fixed;
    transform: translateY(0);
    width: 100%;
    z-index: 90;
    transition: transform .16s ease-out;

    &.is-hidden {
        transform: translateY(100%);
        transition: transform .16s ease-out;
    }

    > div {
        @extend %page-block;
        @extend %v-center;
        @include responsive-prop('height', $footer-heights);
    }

    &.is-warning {
        > div {
            display: grid !important;
            grid-template-columns: 1fr auto auto;
            grid-gap: 20px;
        }
    }   
     
    a:not(.btn-preview) {
        color: $color--dark;
        @include responsive-prop('margin-left', $space-md);
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    .filter {
        align-items: center;
        display: grid;
        grid-template-columns: auto 100px auto;
        grid-gap: 20px;

        .select-wrapper {
            width: 100%;
        }

        a {
            color: $color--dark;
            @include font-size($fs-xs);
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .search-wrapper {
        position: relative;
        width: 100%;

        .icon-delete {
            @include background-default();
            background-image: url($url-icons +'x-circle.svg');
            background-size: 24px auto;
            background-position: center center;
            height: 46px;
            right: 0;
            position: absolute;
            top: 0;
            width: 46px;
            z-index: 10;
        }
    }

    input[type=text].search {
        border: 2px solid $color--medium-grey;
    }
}