/**
 * -----------------------------------------------------------------------------
 * File: components/icons/menu
 * -----------------------------------------------------------------------------
 */

.icon-menu {
    @extend %icon;
    @extend %icon-bg;
    background-image: url($url-icons + 'menu-burger.svg');
    background-size: 42px 23px;
    background-position: top left;
    height: 27px;
    position: relative;
    top: 10px;
    width: 42px;
    z-index: 1;

    &.is-active {
        background-image: url($url-icons + 'menu-cross.svg');
        background-size: 27px 27px;
    }

    @include bp-md() {
        display: none;
    }
}