/**
 * -----------------------------------------------------------------------------
 * File: component/lists/global
 * -----------------------------------------------------------------------------
 *
 */

// List view
.list-items {

    &.list-items--cards {
        @include responsive-prop('margin-bottom', $space-md);
    }
}

.list-item-group {
    border-bottom: 2px solid $color--dark;

    @include responsive-prop('margin-bottom', $space-md);
}

.list-item {
    border-top: 2px solid $color--dark;
    display: grid;
    grid-template-columns: auto 102px;
    @include responsive-prop('padding-top', $space-xs);
    @include responsive-prop('margin-bottom', $space-xs);

    &[data-icons="5"] {
        grid-template-columns: auto 130px;
    }

    &.is-disabled {
        * {
            opacity: .7;
        }
    }

    &.list-item--project,
    &.list-item--grouped {
        border-bottom: none !important;
        padding-bottom: 0 !important;
    }

    &.is-sortable {
        cursor: move;
    }
}

.list-item-body {
    @include responsive-prop('padding-right', $space-sm);
    
    span {
        display: block;
    }

    p {
        margin-bottom: 10px !important;
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }

    .item-date {
        @include font-size($fs-xxs);
        color: $color--medium-grey;
        display: block;
        margin-top: 5px;
    }

    .item-tag {
        background-color: $color--light-grey;
        border-radius: 2px;
        color: $color--dark;
        display: inline-block;
        @include font-mono();
        @include font-size($fs-xxs);
        line-height: 1 !important;
        padding: 5px;
        width: auto;
    }
}

.list-item-action {
    display: grid;
    grid-template-columns: repeat(4, 18px);
    grid-gap: 10px;
    text-align: right;

    &[data-icons="5"] {
        grid-template-columns: repeat(6, 18px);
    }
}

// Cards
.list-item-cards {
    @include responsive-prop('margin-bottom', $space-md);

    > div {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-gap: 15px;
        @include responsive-prop('margin-bottom', $space-sm);
        margin-top: 10px;
    }

    &.is-team {
        > div {
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }
    }

    .btn-add {
        left: 5px;
        right: auto;
        position: relative;
        text-align: center;
        top: auto;
        width: 100%;
    }
}

.list-item-card {
    border: 2px solid $color--dark;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;

    &:hover {
        cursor: move;
    }

    span {
        display: block;
    }

    &.is-disabled {
        opacity: .7;
    }
}

.list-item-card__action {
    display: grid;
    grid-template-columns: repeat(4, 18px);
    grid-gap: 10px;
    @include responsive-prop('margin-top', $space-xs);
}
